
.btn{
    font-size: 1.7rem;
}
.box{
display: flex;
justify-content: center;
align-items: center;

}
.box1{
    height:100vh ;
    flex-direction: column;
    margin-bottom: 13rem;
}
.box2{
    height:20vh ;
}
.box3{
    font-size: 7rem;
}
.card{
    padding: 2rem;
}